@using Flutter.Models
@model UserViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.UserObject.UserName.ToUpper()'s Page</h2>
<p>Username:@Model.UserObject.UserName</p>
<p>Email: @Model.UserObject.Email</p>

<ul>@foreach(var tweet in @Model.TweetList)
    {
        <li>@tweet.TweetField</li>
    }   
</ul>

<a href="/Tweet/Index">Create a new Tweet</a>
<br />
<h2>Followers</h2>
<ul>
    @foreach(var user in @Model.UserObject.FollowTablesByFollower)
    {
        <li>@user.User.UserName</li>
    }
</ul>

<h2>Following</h2>
<ul>
    @foreach (var user in @Model.UserObject.FollowTablesByFollower)
    {
        <li>@user.User.UserName</li>
    }
</ul>

<a href="/User/logout">Logout</a>