@using Flutter.Models
@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>@Model.UserName's Page</h2>

@using (Html.BeginForm("Follow", "User"))
    {
        @Html.HiddenFor(username => @Model.UserName)
    if (@Model.IsUserFollowing == false)
    { 
        <input class="button" type="submit" value="Follow">
    } else
    {
        <input class="button" type="submit" value="UnFollow">
    }
    }

<ul>@foreach (var tweet in @Model.TweetList)
{
    <li>@tweet.TweetField

    <a class="btn btn-default" href="/Tweet/ReTweet?tweetId=@tweet.Id">Retweet &raquo;</a>
    <a class="btn btn-default" href="/Tweet/Favourite?tweetId=@tweet.Id">Favourite &raquo;</a>
    </li>
}
</ul>
